@import '../inc/vars';

.hero-blog {
    background-image: url('./../../images/blog.jpg');
    padding: clamp(rem(24), vw(160), rem(160));
    background-position: center;
    background-size: cover;

    h1 {
        text-align: center;
        color: $white;
    }
}

.archive-blog {
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(40) rem(20);
        padding: clamp(rem(24), vw(80), rem(80)) 0;
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(16);
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
        }
    }

    &__item-top {
        height: rem(394);
        margin-bottom: rem(8);
        display: flex;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }

        @include tablet-sm {
            height: rem(300);
        }
        @include tablet-sm {
            height: rem(200);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-meta {
        color: rgb(15, 75, 160);
        font-size: clamp(rem(12), vw(16), rem(16));
        font-weight: 200;
        line-height: 1.25;
        margin-bottom: clamp(rem(4), vw(8), rem(8));
    }
    h3 {
        a {
            color: rgb(15, 75, 160);
            font-size: clamp(rem(16), vw(24), rem(24));
            font-weight: 600;
            line-height: 1.25;
            transition: all 0.3s;
            &:hover {
                opacity: 0.7;
            }
        }
    }
}
