@import '../inc/vars';

.home-page {
    overflow: hidden;
}
.hero-block {
    position: relative;
    padding: clamp(rem(155), vw(288), rem(288)) 0 clamp(rem(95), vw(144), rem(144));
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    &__box {
        max-width: rem(930);
    }
    &__img {
        display: flex;
        gap: rem(28);
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        @include tablet-sm {
            gap: rem(8);
        }
    }
    h1 {
        font-family: 'Geologica';
        font-size: clamp(rem(32), vw(60), rem(60));
        font-weight: 600;
        text-transform: uppercase;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        display: inline-block;
        color: #d7ccc8;
        span {
            background: linear-gradient(141.87deg, rgb(204, 149, 106), rgb(249, 231, 216), rgb(248, 204, 165), rgb(204, 149, 106), rgb(104, 67, 44));
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }
    }
}

.about-block {
    margin-top: clamp(rem(45), vw(80), rem(80));
    margin-bottom: clamp(rem(25), vw(60), rem(60));
    background-repeat: no-repeat;
    background-position: top right;
    background-size: contain;
    overflow: hidden;
    @include tablet-sm {
        background-position: bottom right;
    }
    .container {
        display: grid;
        grid-template-columns: 1.2fr 0.8fr;
        gap: 7%;
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    &__left {
        margin-top: clamp(rem(22), vw(62), rem(62));
        margin-bottom: clamp(rem(22), vw(62), rem(62));
        background: rgba(255, 255, 255, 0.3);
        display: flex;
        gap: rem(24);
        @include tablet-smm {
            flex-direction: column;
            background: transparent;
        }
    }

    &__right {
        margin-top: clamp(rem(22), vw(62), rem(62));
        margin-bottom: clamp(rem(22), vw(62), rem(62));
        display: flex;
        flex-direction: column;
        justify-content: center;
        @include tablet-smm {
            display: none;
        }
    }

    &__img {
        display: flex;
        position: relative;
        img {
            max-width: rem(500);
            object-fit: cover;
            margin: auto;
            width: 100%;
            @include tablet-smm {
                max-width: rem(300);
            }
            @include mobile-sm {
                max-width: rem(230);
            }
        }

        @include tablet-smm {
            width: fit-content;
            margin-left: auto;
            &::after {
                top: -200%;
                content: '';
                position: absolute;
                height: 200%;
                background: rgba(255, 255, 255, 0.3);
                width: 100%;
            }
            &::before {
                bottom: -200%;
                content: '';
                position: absolute;
                height: 200%;
                background: rgba(255, 255, 255, 0.3);
                width: 100%;
            }
        }
    }

    &__btn {
        margin-top: auto;
        margin-bottom: rem(20);
        margin-right: rem(54);
        position: relative;
        z-index: 2;
        @include tablet-smm {
            margin-bottom: rem(0);
            margin-left: auto;
        }
    }

    h2 {
        margin-left: rem(-260);
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        text-transform: none;
        @include tablet-smm {
            margin-left: 0;
        }
    }

    .about-block__title-mob,
    .about-block__desc-mob {
        display: none;
        @include tablet-smm {
            display: block;
            position: relative;
            z-index: 2;
            width: 90%;
            margin-bottom: 0;
        }
    }
}

.works-block {
    padding-bottom: clamp(rem(40), vw(80), rem(80));
    max-width: -webkit-fill-available;
    &__top {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: rem(10);
        margin-bottom: clamp(rem(24), vw(40), rem(40));
    }

    .slide-link {
        cursor: pointer;
        transition: all 0.3s;
        img {
            width: 100%;
            object-fit: cover;
            transition: all 0.3s;
        }
        &:hover {
            img {
                filter: brightness(0.7);
            }
        }
    }
    .swiper-nav {
        display: flex;
        justify-content: end;
        gap: rem(16);
        button {
            border: none;

            transition: all 0.3s;
            // &:hover {
            //     opacity: 0.7;
            // }
        }
        @include tablet-sm {
            gap: rem(8);
        }
        .btn-arrow {
            position: relative;
            width: rem(60);
            height: rem(60);
            @include tablet-sm {
                width: rem(48);
                height: rem(48);
            }
            &::after {
                content: '';
                position: absolute;

                width: 100%;
                height: 100%;
                background-size: cover;
                transition: all 0.3s;
                left: 0;
                top: 0;
            }
        }
        .swiper-prev {
            .btn-arrow {
                &::after {
                    background-image: url(' ./../../images/button-left.png');
                }
                &:hover {
                    &::after {
                        background-image: url(' ./../../images/button-left-hv.png');
                    }
                }
            }
        }
        .swiper-next {
            .btn-arrow {
                &::after {
                    background-image: url(' ./../../images/button-right.png');
                }
                &:hover {
                    &::after {
                        background-image: url(' ./../../images/button-right-hv.png');
                    }
                }
            }
        }
    }

    &__swiper {
        max-width: rem(1920);
        margin: auto;
    }
    h3 {
        color: rgb(62, 39, 35);
        font-size: clamp(rem(16), vw(24), rem(24));
        font-weight: 400;
        text-transform: uppercase;
        padding: rem(24) clamp(rem(8), vw(24), rem(24));
    }
    &__btn {
        margin-top: clamp(rem(24), vw(40), rem(40));
    }
}

.benefits-block {
    padding: clamp(rem(30), vw(60), rem(60)) 0 clamp(rem(40), vw(80), rem(80));
    background-repeat: no-repeat;
    background-size: cover;
    &__list {
        display: flex;
        flex-wrap: wrap;
        gap: rem(16) 0;
        @include tablet-smm {
            gap: rem(16) 2%;
        }
    }

    &__item-box {
        width: fit-content;
        margin: auto;
    }
    &__item:nth-child(1) {
        width: 33.333%;
        @include tablet-smm {
            width: 48%;
        }
    }
    &__item:nth-child(2) {
        width: 33.333%;
        @include tablet-smm {
            width: 48%;
        }
    }

    &__item:nth-child(3) {
        width: 33.333%;
        @include tablet-smm {
            width: 48%;
        }
    }
    &__item:nth-child(4) {
        width: 50%;
        @include tablet-smm {
            width: 48%;
        }
    }
    &__item:nth-child(5) {
        width: 50%;
        @include tablet-smm {
            width: 100%;
        }
    }

    &__number-box {
        display: flex;
        gap: rem(4);
        align-items: center;

        @include desktop-md {
            justify-content: end;
        }
    }
    &__number {
        font-family: 'Geologica';
        font-size: clamp(rem(48), vw(140), rem(140));
        font-weight: 600;
        line-height: 1.25;
        letter-spacing: 0%;
        text-align: left;
        text-transform: uppercase;
        -webkit-text-stroke: 2px #dfa87e;
        text-stroke: 2px #b3815b;
        color: transparent;
        @include tablet-sm {
            font-weight: 400;
            -webkit-text-stroke: 1.4px #dfa87e;
            text-stroke: 1.4px #b3815b;
        }
    }
    h3 {
        color: rgb(215, 204, 200);
        font-size: clamp(rem(16), vw(24), rem(24));
        font-weight: 200;
        text-transform: uppercase;
        text-align: right;
        @include mobile-sm {
            max-width: rem(130);
        }
    }
}
.archive-blog {
    padding: clamp(rem(24), vw(80), rem(80)) 0;
    &__top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-bottom: clamp(rem(24), vw(40), rem(40));
        gap: rem(8);
        @include tablet-smm {
            flex-direction: column;
            align-items: start;
        }
    }
    &__inf {
        max-width: rem(680);
        .desc {
            margin-bottom: clamp(rem(16), vw(24), rem(24));
        }
    }
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: rem(80);
        @include tablet-smm {
            grid-template-columns: 1fr 1fr;
            gap: rem(16);
        }
        @include tablet-sm {
            grid-template-columns: 1fr;
        }
    }

    &__item-top {
        height: rem(470);
        margin-bottom: clamp(rem(8), vw(24), rem(24));
        display: flex;
        border-radius: 0 rem(260) rem(260) 0;
        overflow: hidden;
        transition: all 0.3s;
        &:hover {
            opacity: 0.7;
        }

        @include desktop-md {
            height: rem(390);
        }
        @include tablet-sm {
            height: rem(290);
        }
        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__item-meta {
        color: rgb(138, 121, 118);
        font-size: clamp(rem(12), vw(16), rem(16));
        font-weight: 200;
        margin-bottom: rem(8);
    }
    h3 {
        color: rgb(62, 39, 35);
        font-size: clamp(rem(16), vw(24), rem(24));
        font-weight: 400;
        text-transform: uppercase;
    }
}

.contact-block {
    padding: clamp(rem(16), vw(40), rem(40)) 0 clamp(rem(60), vw(100), rem(100));
    .container {
        display: grid;
        grid-template-columns: 0.7fr 1.3fr;
        gap: rem(64);
        @include tablet-smm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
    }

    &__right {
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__list {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: rem(40);
        padding: clamp(rem(32), vw(55), rem(55)) clamp(rem(24), vw(112), rem(112));
        @include tablet-sm {
            grid-template-columns: 1fr;
            gap: rem(24);
        }
        h3 {
            color: rgb(215, 204, 200);
            font-size: clamp(rem(14), vw(18), rem(18));
            font-weight: 400;
            text-transform: uppercase;
            margin-bottom: clamp(rem(8), vw(20), rem(20));
        }
    }
    &__office {
        display: flex;
        flex-direction: column;
        gap: rem(8);
    }
    &__office-item {
        display: flex;
        align-items: center;
        gap: rem(5);
        a {
            color: rgb(215, 204, 200);
            font-size: clamp(rem(14), vw(18), rem(18));
            font-weight: 200;
        }
    }
    &__left {
        background: rgb(33, 33, 33);
        padding: clamp(rem(24), vw(40), rem(40));
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

