@use 'inc' as *;

html {
    font-size: $bodyfontsize;
    scroll-behavior: smooth;
}

body {
    font-size: $bodyfontsize;
    font-family: 'Geologica';
    line-height: 1.25;
    font-weight: 200;
    color: rgb(23, 22, 20);
}
main {
    // min-height: 66vh;
    display: flex;
    flex-direction: column;
    background: rgb(215, 204, 200);
    margin-top: rem(-100);
}
p {
    font-family: 'Geologica';
    margin-bottom: rem(12);
    font-weight: 200;
}

.contact-block__form {
    h2 {
        color: rgb(215, 204, 200);
        font-size: clamp(rem(16), vw(24), rem(24));
        font-weight: 400;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: clamp(rem(8), vw(16), rem(16));
    }
}

.form-box {
    display: flex;
    flex-direction: column;
    gap: rem(8);
    margin-bottom: clamp(rem(8), vw(16), rem(16));
    p {
        margin-bottom: 0;
    }
    input,
    textarea {
        color: rgb(78, 75, 74);
        font-family: 'Geologica';
        font-size: clamp(rem(14), vw(16), rem(16));
        font-weight: 200;
        text-align: left;
        border-radius: rem(8);
        padding: rem(14) clamp(rem(16), vw(24), rem(24));
        background: rgb(44, 43, 43);
        border: none;
        border-radius: rem(8);
        outline: none;
        width: 100%;
        &::placeholder {
            color: rgb(78, 75, 74);
            font-family: 'Geologica';
            font-size: clamp(rem(14), vw(16), rem(16));
        }
    }
    .box > p {
        display: flex;
        gap: rem(8);
        @include tablet-sm {
            flex-direction: column;
        }
    }
}
.wpcf7-response-output {
    color: #fff !important;
}
@include tablet-smm {
    .btn {
        display: block;
        margin: auto;
    }
}
.wpcf7-spinner {
    display: none;
}
.wpcf7 textarea {
    resize: none;
}
.page-template-default{
   main {
        margin-top: 0;
    }
    .header {
        background: rgb(33, 33, 33);
    }
}

.default-template {
    padding: rem(24) 0;
    h1 {
        font-size: clamp(rem(22), vw(34), rem(34));
        margin-bottom: clamp(rem(8), vw(12), rem(12));
        color: #1b1b1b;
    }
    h2 {
        font-size: clamp(rem(20), vw(24), rem(24));
        margin-bottom: clamp(rem(6), vw(8), rem(8));
        color: #1b1b1b;
    }
    h3 {
        font-size: clamp(rem(18), vw(20), rem(20));
        margin-bottom: clamp(rem(6), vw(8), rem(8));
        color: #1b1b1b;
    }
    p,
    ul {
        margin-bottom: clamp(rem(6), vw(8), rem(8));
    }
}

.fancybox-bg {
    backdrop-filter: blur(24px);
    background: rgba(215, 204, 200, 0.7) !important;
}
@import '_layout';
@import 'ui/_button';
@import 'ui/_headings';
@import 'ui/_article';
@import 'ui/_aspect-ratio';
/* Default Page */
// @import 'inc/_default-content';
/* Form checkboxes  */
// @import "inc/_checkboxes";
// HEADER & FOOTER
@import 'partials/header';
@import 'partials/footer';

